@use "variables.scss" as *;

.footer{
  border-top: 2px solid #e0e0e0; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 20px;




  

   a{
    text-decoration: none;
    color: $text-color;
  }



 

  &__logo-and-name{
    display: flex;
    gap: 10px;
     align-items: center;

    h2{
     font-size: $font-size-small;
     font-family:$font-default;
    font-weight: lighter;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

    }
  }

  &__icons{
    width: 24px;
    height: 24px;
    margin-left: 8px;
    margin-top: 10px;
   
    
  }

  &__about-row{
    flex-direction: column;
    display: flex;
    gap: 10px;
  }


   &__discover-row{
    flex-direction: column;
    display: flex;
    gap: 10px;
   
  }

   &__support-row{
    flex-direction: column;
    display: flex;
    gap: 10px;
  }

  button{
    cursor: pointer;
  }
}