@use "variables.scss" as *;




.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e0e0e0; 
    padding: 30px;
    
  

    &__logo{
      display: flex;
      gap: 10px;
      align-items: center;



      
      h1{
        font-size: $font-size-small;
        color: $text-color;
       font-family: $font-default;
        font-weight: lighter;
       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
;
      }
    }


    &__image{
      width: 100%;
      height: 100%;
    }



&__buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: $font-default;
    cursor: pointer;
    font-size: $font-size-buttons;
}

  &__navigate {
  
    a {
      text-decoration: none;
      margin-right: 8px;
      color: $text-color;
      

     
    }
  }


  button{
    cursor: pointer;
  }

  .sign-in-btn{
background-color: $sign-in-color ;
border-radius: 8px;
padding: 8px 16px;
border: none;
font-family: $font-default;
font-size: $font-size-buttons;
  }

  .register-btn{
background-color: $register-color;
color: $white-color;
border-radius: 8px;
border: none;
padding: 8px 16px;
font-family: $font-default;
font-size: $font-size-buttons;

  }

}

.link{
  text-decoration: none;
}