@use "variables.scss" as *;

.container-in-detail-page{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    padding: 30px;

    img{
    width: 415px;
    height: 415px;
    object-fit: cover;
    
    }



    &__text{
   
    height: 415px;
    display: flex;

     font-family: $font-default;
    flex-direction: column;
    font-size: $font-size-small;
    
    }

    &__title{
    font-weight: bold;
    font-size: $font-size-medium;
    }

  


}